:root {
        --ic-brand-primary-darkened-5: #C21121;
--ic-brand-primary-darkened-10: #B8101F;
--ic-brand-primary-darkened-15: #AE0F1D;
--ic-brand-primary-lightened-5: #CE1C2D;
--ic-brand-primary-lightened-10: #D12838;
--ic-brand-primary-lightened-15: #D33443;
--ic-brand-button--primary-bgd-darkened-5: #C21121;
--ic-brand-button--primary-bgd-darkened-15: #AE0F1D;
--ic-brand-button--secondary-bgd-darkened-5: #EBEBEB;
--ic-brand-button--secondary-bgd-darkened-15: #D2D2D2;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #3D6CA2;
--ic-link-color-lightened-10: #5584BB;
--ic-brand-primary: #cc1122;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #4377b4;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #f7f7f7;
--ic-brand-button--secondary-text: #333333;
--ic-brand-global-nav-bgd: #222222;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #cc1122;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #cc1122;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_18720000000000001/attachments/897440/biola-nav-logo.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1937851829&Signature=BuRtprMI7kVUTyMnUDVIJ6kSGmQ%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_18720000000000001/attachments/897441/biola-favicon.ico?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1937851829&Signature=5jph9%2FplV7pPWMWVjhQfK1XrWMo%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_18720000000000001/attachments/897442/biola-mobile-homescreen-icon.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1937851829&Signature=h2JPUDlXJ6B%2BXnJBvEvW6nVQgQc%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_18720000000000001/attachments/897443/biola-windows-tile-square.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1937851830&Signature=zAcO7Olg%2FibUxI9ZH%2FyDSSI2Qxg%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_18720000000000001/attachments/897444/biola-windows-tile-wide.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1937851830&Signature=N0JUOLbdtBvi6Reh4I3FadEOhl8%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads.s3.amazonaws.com/account_18720000000000001/attachments/897445/biola-right-sidebar-logo.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1937851830&Signature=lONcjA5AuREFWfmsS87WiE4xKNM%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-body-bgd-color: #eeeeee;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #eeeeee;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_18720000000000001/attachments/897446/biola-login-logo.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1937851830&Signature=AWi3LrFA64CFFD3vJPyJ5klhELQ%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: #ffffff;
--ic-brand-Login-Content-inner-border: #cccccc;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #333333;
--ic-brand-Login-Content-password-text-color: #4377b4;
--ic-brand-Login-footer-link-color: #4377b4;
--ic-brand-Login-footer-link-color-hover: #4377b4;
--ic-brand-Login-instructure-logo: #666666;
      }